<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Que tal se inscrever na minha newsletter?</h2>
        <div class="intro">
            Fique por dentro das nossas novidades, receba conteúdo de qualidade 
            e promoções exclusívas. <br>
            Clique no botão abaixo e informe seu melhor e-mail. 😊</div>
        <form class="signup-form form-inline justify-content-center pt-3" id="Form_login"
        method="POST" action="https://github.us18.list-manage.com/subscribe/post?u=267ca37c6e5348cd9abb7f3c0&amp;id=1aa891af16"">
            <div class="form-group">
                <!-- <label class="sr-only" for="email">Seu email</label>
                <input type="email" id="semail" autocomplete="off" name="email" class="form-control mr-md-1 semail" placeholder="Seu melhor email..."> -->
            </div>
            <button type="submit" class="btn btn-primary btn-news">Inscrever-se</button>
        </form>
    </div><!--//container-->
</section>
<!-- https://formspree.io/jhonathanpribeiro@gmail.com -->