---
layout: page
permalink: "/about.html"
title: "Sobre"
image: "/assets/images/bg-about.jpg"
---
<div class="jumbotron bg-gradiente" style="
    background-image: url({{page.image}});
    background-position: center;
    background-size: cover;
    height: 350px;
    ">
    <div class="container">
        <h4 class="text-white text-right"
        style="
            position: absolute;
            margin-top: 30vh;
            font-weight: normal;
            font-size: 20px;
            width: 67%;
        ">
            ❝ A determinação vence o medo, despreza objeções e supera dificuldades.❞ <br>
            ─ Jhonathan Ribeiro.
        </h4>
    </div>
</div><!--//jumbotron bg-gradiente-->

<div class="container">
    <br>
    <h2><b>&nbsp; ── About</b></h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Alias culpa exercitationem perferendis, minus esse eius 
        reiciendis eum unde ratione iure itaque consectetur dol
        orem sunt aperiam nihil provident, molestiae facilis soluta.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Alias culpa exercitationem perferendis, minus esse eius 
        reiciendis eum unde ratione iure itaque consectetur dol
        orem sunt aperiam nihil provident, molestiae facilis soluta.
    </p>
    {% include NewsletterPartial.html %}
    {% include PromoSectionPartial.html %}
    {% include BlogCommentsSectionPartial.html %}
</div>


