---
layout: page
permalink: "/loja.html"
---
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Bem vindo à minha loja!</h2>
        <div class="intro">
           Aqui você encontra produtos ..... com os melhores preços. Confira!
        </div>
    </div>
</section>
<div class="container">
    <h2>Celulares</h2>
    <div class="row" id="content-portfolio">
    <div class="models">
        <div class="card m-4 card-item" style="float:left;">
            <img class="card-img-top card-item--img" src="/assets/images/image-product-grey.jpg" 
            alt="...">
                <div class="card-body">
                    <p>
                        <small>
                            <b class="card-item--name" maxlength="40">
                                ---
                            </b>
                        </small>
                    <br>
                    <div class="price">
                        <small>A partir de</small>
                        <b class="fnt-price card-item--price">R$--</b>
                        <small>ou 
                            <span class="card-item--qtdparcel">--x</span> 
                            <span class="card-item--parcel">R$--</span> 
                        </small>
                    </div>
                </p>
                    <a href="" class="btn btn-warning card-item--buy">Comprar</a>
                </div>
        </div>
    </div><!--/models-->
    <div class="products-area"></div>
    </div>
</div>
    {% include PromoSectionPartial.html%}
<div class="container">
    {% include BlogCommentsSectionPartial.html %}
</div><!--/container-->